# Nextflow runtime
genomic_pipeline/work/
.nextflow/
.nextflow*
.nextflow.log*

# Input data
genomic_pipeline/nextflow/input/

# Results
genomic_pipeline/nextflow/results/

# Intermediate alignment files
*.sam
*.bam
*.bai

# Variant files (optional)
# *.vcf
# *.vcf.gz

# Containers
*.sif

# OS files
.DS_Store
